.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1 {
    color: #262626;
    font-weight: 500;
}

.explore-menu-text {
    max-width: 60%;
    color: #262626;
}

.explore-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}