.exploreMenu {
    margin: 30px 0;
}

.exploreMenu {
    width: 60%;
}

.explore-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.explore-menu-item {
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

.explore-menu-item img {
    width: 100px;
    margin: 10px;
    border-radius: 50px;
    transition: 0.2s ease;
}

.explore-menu-item img:hover {
    border: 4px solid tomato;
    cursor: pointer;
}

.explore-menu-item img:hover::after {
    border: 4px solid tomato;
}