.header {
    background-image: url(../../../public/header_img.png);
    height: 70vh;
    padding: 90px;
    border-radius: 20px;
    margin-top: 40px;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
}

.text-content {
    width: 60%;
}

.text-content h1 {
    font-size: max(70px, 10px);
    color: white;
}

.text-content p {
    font-weight: 400;
    line-height: 1;
    color: white;
    margin: 10px 0;
}

.text-content button {
    margin-top: 20px;
    color: grey;
    border: 1px solid grey;
    padding: 15px 35px;
    border-radius: 25px;
}