.hero {
    margin-top: 40px;
    height: 80vh;
    background-image: url(/header_img.png);
    border-radius: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 80px;
}

.header-content {
    margin-top: 50px;
    width: 60%;
}

.hero p {
    color: white;
    line-height: 1.5;
}


.header-content button {
    margin-top: 20px;
    color: grey;
    padding: 20px 40px;
    border-radius: 35px;
    border: 1px solid white;
}