.hero {
    height: 34vw;
    margin: 30px auto;
    background: url(/header_img.png) no-repeat;
    background-size: contain;
    position: relative;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.hero h1 {
    font-size: 70px;
    color: white;
}

.hero p {
    color: white;
    line-height: 1.5;
}


.header-content button {
    margin-top: 20px;
    color: grey;
    padding: 20px 40px;
    border-radius: 35px;
    border: 1px solid white;
}