.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
}
.navbar-menu li {
  gap: 30px;
  list-style: none;
}
