.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.navbar-logo {
  width: 150px;
}
.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.navbar-right {
  display: flex;
  gap: 40px;
}
/* .basket-icon {
  gap: 30px;
} */
.navbar button {
  /* gap: 30px; */
  background: transparent;
  border: 2px solid tomato;
  padding: 10px 25px;
  border-radius: 50px;
}
.active {
}
